<div class="LoginBox">

    <div id="wait1"
         style="display:none;width:200px;height:200px;border:1px solid black;
        position:absolute;top:50%;left:50%;padding:2px;">
        <img src="~/Content/VI_script/images/Round Animated Loading Gif.gif" width="64" height="64" />
        <br><span id="process1">Loading..</span>
    </div>


    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <span class="OR">OR</span>


            <div class="left column">
                <form data-toggle="validator" role="form" id="NormalLogin">

                    <h3 class="text-center">Login</h3>
                    <div class="vGap25"></div>
                    <div class="form-group-lg">


                        <input type="text" class="form-control" placeholder="username">

                    </div>

                    <br />

                    <div class="form-group-lg">


                        <input type="text" class="form-control" placeholder="password">

                    </div>

                    <br />

                    <div class="form-group-lg text-center">


                        <a class="btn_green" href="/Account/Profile"> Login <i class="fa fa-angle-right"></i></a>

                    </div>


                    <br />

                    <div class="form-group-lg text-center">


                        <a class="text_link" href="/Access/Register">Register as a New User?</a>&nbsp; | &nbsp;<a class="text_link" href="#"> Forgot Password?</a>



                    </div>

                </form>


                <div data-toggle="validator" role="form" id="VoiceLogin" class="SlideInFromRight">


                    @using (Html.BeginForm())
                    {
                        //if (Session["AccNo"] != "" && Session["AccNo"] != null)
                        //{
                    <div class="form-group-lg text-center"  id="speakerdiv">
                        <h3 class="text-center">Click Below Microphone<br />and Speak To Login </h3>
                        <div class="vGap25"></div>

                        <a href="#" class="RecordIcon"> <i class="fa fa-microphone fa-5x"></i> </a>

                        <span class="hint" id="hint" style="display:none;"> *** ** In. </span>
                        <div class="vGap25"></div>
                        <hr>
                       
                    </div>
                        @*}
                        else
                        {*@
                            <div class="form-group-lg text-center" id="accnodiv">
                                <h3 class="text-center">Click Below link<br />and Speak Your Accout Number </h3>
                                <a id="start-record-btn" title="Start Recording">Tell us your Account Number</a>
                                <div class="input-single">
                                    <textarea id="note-textarea" style="width: 100%;margin: 10px 0px;border: 2px solid rgb(221, 221, 221);padding: 10px;border-radius: 10px;resize: none;" placeholder="Speak your username correct" rows="2" disabled></textarea>
                                </div>
                                <a id="error-msg" style="color:red">Account Number is not verified ! Please register</a>
                                
                                    <script>
                                    //var obj = {};
                                   
                                   // console.log(JSON.stringify(obj));
                          
                                    setInterval(function () {
                                        var AccNo = $("#note-textarea").val().trim().replace(/ /g, '');
                                        //var obj = {};
                                        //obj.AccNo = $("#note-textarea").val().trim();
                                        console.log(JSON.stringify(AccNo));
                                        if ($('#note-textarea').val().trim().replace(/ /g, '') != "" && $('#note-textarea').val().trim().replace(/ /g, '') != null) {

                                            $("#preloader").show();
                                            $('.loader--text').text("Verifying your Account Number ! keep patience.");
                                            $("#note-textarea").val("");
                                            $.ajax({
                                      type: "post",
                                      url: "/Access/VerifyAccountNumber",
                                      data: jQuery.param({ AccNo: AccNo }),
                                      success: function (data) {
                                          //console.log the response
                                          //alert(JSON.stringify(data["IdentificationId"]));
                                          if (data["Status"] != false )
                                          {
                                              loggedinIdentificationId = data["IdentificationId"];
                                              $('#accnodiv').hide();
                                              $('.loader--text').text("Account Verified! Click on the mic button on next screen.");
                                              $('#speakerdiv').show();  
                                              $("#preloader").hide();
                                          } else {
                                              $('#error-msg').show();
                                              $('.loader--text').text("Account not Verified! Login again.");
                                             
                                              window.location = "https://freesoulweb.azurewebsites.net/Access/Login";
                                          }
                                      }
                                  });
                              }
                          }, 10000); //10000 milliseconds = 10 seconds
                                </script>
                                <div class="vGap25"></div>
                                <hr>

                            </div>

                       

                        

                    <div class="form-group-lg">
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                                @*<a class="text_link" href="#" id="forgotVoicePhrase"> Forgot Voice Login Phrase?</a>*@

                            </div>

                        </div>

                    </div>
                    }
                </div>

            </div>
        </div>


        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">





            <a href="#" id="LoginWithVoiceBtn" class="text_link" style="text-decoration:none !important;">
                <div class="right column text-center">
                    <div class="vGap75"></div>
                    <i class="fa fa-microphone fa-4x icon" id="voiceloginstart"></i>

                    <span> Login with Voice</span>

                </div>
            </a>


            <a href="#" id="NormalLoginBtn" class="text_link" style="text-decoration:none !important;">
                <div class="right column text-center">
                    <div class="vGap75"></div>
                    <i class="fa fa-arrow-circle-left fa-4x icon2" id="voiceloginstop" ></i>

                    <span> Login with Credentials</span>

                </div>
            </a>
        </div>

    </div>


</div>
<script>
    $('#speakerdiv').hide();
    $('#error-msg').hide();
    $('.RecordIcon').click(function () {
        getAllProfileForIdentification();
    });
    $('#voiceloginstop').click(function () {
        recognition.stop();
    })
</script>

<script src="~/Content/STT/script.js"></script>
<!-- Only used for the demos ads. Please ignore and remove. -->
<script src="https://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>