<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://freesoulweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>freesoulweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>freesoulweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$freesoulweb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="hackathonEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=freesoul.database.windows.net;Initial Catalog=hackathon;User ID=freesoul;Password=Free@&amp;soul;Application Name=EntityFramework" Name="Data Source=freesoul.database.windows.net;Initial Catalog=hackathon;User ID=freesoul;Password=Free@&amp;soul;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VoiceIdentification.Models.hackathonEntities, VoiceIdentification" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VoiceIdentificationEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=freesoul.database.windows.net;Initial Catalog=hackathon;User ID=freesoul;Password=Free@&amp;soul;Application Name=EntityFramework" Name="Data Source=freesoul.database.windows.net;Initial Catalog=hackathon;User ID=freesoul;Password=Free@&amp;soul;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VoiceIdentification.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VoiceIdentificationEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.VoiceIdentificationEDMX.csdl|res://*/Models.VoiceIdentificationEDMX.ssdl|res://*/Models.VoiceIdentificationEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\VoiceIdentification.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hackathonEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AzureDb.csdl|res://*/Models.AzureDb.ssdl|res://*/Models.AzureDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=freesoul.database.windows.net;Initial Catalog=hackathon;User ID=freesoul;Password=Free@&amp;soul;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VoiceIdentificationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.VoiceIdentificationEDMX.csdl|res://*/Models.VoiceIdentificationEDMX.ssdl|res://*/Models.VoiceIdentificationEDMX.msl;provider=System.Data.SqlClient;provider connection string="data source=freesoul.database.windows.net;initial catalog=hackathon;user id=freesoul;password=Free@&amp;soul;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>